* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #242424;
    color: #ececec;
    width: 100%;
}

header {
  background-color: rgb(36, 36, 36);
  color: aliceblue;
  width: 100%;
  height: 50px;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;        
  justify-content: center;     
  padding: 0 20px;
  gap: 10px;
  z-index: 999;
}

header a {
  margin-right: 50px;

}



.header-logo-container {
    display: flex;
    width: 95%;
    align-items: center;
    padding-right: 50px;
    font-weight: 700;
}

.header-logo {
    width: 33px;
    padding-right: 5px;
}

header button {
    color: rgb(227, 227, 227);
    background: none;
    border: none;
    font-size: 11pt;
    font-weight: 700;
    margin-left: 10px;
    cursor: pointer;
}

.header-search {
  display: flex; 
  align-items: center; 
  gap: 10px; 
  margin: 20px;
}

.header-search img {
  width: 25px;
}

.header-search input {
  padding: 8px; 
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

.dinamic-content {
    margin-top: 49px; 
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.dinamic-content-album {
    width: 230px;
    background-color: #181818;
    border-radius: 5px;
    margin: 3px;
    padding: 5px;
}

.dinamic-content-album-title {
  color: #dfdfdf;
  font-size: 12pt;
  font-weight: 600;
  margin-bottom: 5px;
}

.dinamic-content-album-artist {
  color: #8e8e8e;
  font-size: 8pt;
}

.dinamic-content-album img{
    width: 100%;
    border-radius: 5px 5px 0 0;

}

 .container-album {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    width: 900px;
  }
  
  .container-album-detalhe {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;
    background-color: #080808;
    color: #ececec;
    padding: 10px;
  }
  
  .container-album-detalhe img {
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  .album-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .album-info h2 {
    margin: 0 0 5px;
    font-size: 22pt;
  }
  
  .album-info h3 {
    margin: 0;
    color: #acacac;
    margin-bottom: 15px;
    font-size: 12pt;
  }

  .album-info h4 {
    margin: 0;
    color: #cbcbcb;
    font-size: 10pt;
    font-weight: lighter;
    margin-bottom: 5px;
  }

  .download-album-btn, .play-album-btn, .back-album-btn {
    width: 110px;
    height: 25px;
    font-size: 10pt;
    font-weight: 500;
    margin-top: 15px;
    background-color: #e1e1e1;
    color: #282828;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
    transition: transform 0.1s ease-in-out;
  }

  .download-album-btn:hover , .play-album-btn:hover , .back-album-btn:hover {
    background-color: #c76767;
    color: #000000;
    transform: scale(1.02);
  }
  
  .album-musics {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .album-music {
    display: grid;
    grid-template-columns: 35px 1.6fr 1fr;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .album-music:hover {
    background-color: #343434c9;
  }
  
  .track-index {
    text-align: center;
    font-weight: bold;
    color: #9c9c9c;
    font-size: 13pt;
  }
  
  .track-name {
    font-size: 1.2em;
    color: #c1c1c1;
    font-weight: 700;
  }

  .track-name:hover {
    color: #ff4c4c;
  
  }
  
  .track-artist {
    color: #8b8b8b;
    font-size: 1.1em;
  }
  

  /* estilo do player */
  .player-container {
    background-color: rgb(11, 11, 11);
    color: aliceblue;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 999;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-sizing: border-box;
  }
  
  /* Barra de progresso */
  .player-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #444;
    overflow: hidden;
  }
  .player-progress {
    height: 100%;
    width: 0%;
    background-color: #a01f02;
    transition: width 0.3s ease;
  }
  
  /* Seções */
  .player-section {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
  }
  .player-section.left {
    justify-content: flex-start;
  }
  .player-section.center {
    justify-content: center;
  }
  .player-section.right {
    justify-content: flex-end;
  }
  
  /* Thumb */
  .player-container-thumb {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  /* Título + Artista */
  .player-container-title-artist {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
  }

  /*ocultaado no desktop, usado na versão mobile */
  .player-container-title-artist-mobile {
    display: none;
  }
  .player-container-title, 
  .player-container-title-mobile {
    font-size: 15px;
    font-weight: bold;
    color: #eaeaea;
  }
  .player-container-artist, 
  .player-container-artist-mobile {
    font-size: 14px;
    color: rgb(169, 169, 169);
  }
  
  /* Controles */
  .player-container-controls {
    display: flex;
    gap: 12px;
  }
  .player-play-prev,
  .player-play-next,
  .player-play-down {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
  .player-play-pause {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .player-play-back {
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: none;
  }
  

/* Layout para dispositivos móveis */
@media (max-width: 768px) {

  header {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 10px;
    gap: 10px;
    position: relative;
  }

  .header-logo-container {
    padding-right: 0;
  }

  .header-button-home,
  .header-button-playlists,
  .header-button-radios
  {
    margin-right: 10px;

  }

  .header-search {
    width: 100%;
    margin: 0;
    justify-content: space-between;
  }

  .header-search input {
    width: 100%;
    font-size: 14px;
  }

  header button {
    margin-left: 0;
    font-size: 14px;
  }

  .dinamic-content {
    margin-top: 0px;
  
  }

  .container-album-detalhe {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }
  .container-album-detalhe img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border: 5px solid black;
  }
  .album-music {
    padding: 5px;
  }
  .track-name {
    font-size: 12pt;
    color: #ececec;
    font-weight: 700;
  }

  /* Seção do mini player */ 
    .player-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px;
      height: 86px;

    }
  
    .player-section {
      display: flex;
      align-items: center;
    }
  
    .player-section.left {
      display: none; /* Oculta a thumb no mobile */
    }
  
    .player-section.center {
      flex: 1;
      justify-content: space-between;
      gap: 10px;
    }

    /*ocultado o mobile, usado na versão desktop */
    .player-container-title-artist {
      display: none;
    }
  
    .player-container-title-artist-mobile {
      display: flex;
      flex-direction: column;
      text-align: left;
      position: static;
      width: 200px;
      max-width: 65%;
    }
  
    .player-container-title,
    .player-container-title-mobile {
      font-size: 12pt;
      font-weight: 500;
      color: #f0f0f0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .player-container-artist,
    .player-container-artist-mobile {
      font-size: 11pt;
      color: rgb(178, 178, 178);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .player-container-controls {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: flex-end;
      width: 35%;
    }

    /* não mostra botão voltar no mobile para ter mais espaço*/
    .player-play-prev {
    display: none;
    }
  
    .player-play-next,
    .player-play-pause {
      width: 45px;
      height: 45px;
      cursor: pointer;
    }

    .player-play-back {
      display: inline;
    
    }
  
    .player-section.right {
      display: none; /* Oculta o botão de download no mobile */
    }
  
    .player-progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: #444;
    }
  
    .player-progress {
      height: 100%;
      width: 0%;
      background-color: #a01f02;
      transition: width 0.3s ease;
    }

  
  .dinamic-content-album {
    width: 160px;
    border-radius: 5px;
    margin: 3px;
    padding: 5px;
  }
  .dinamic-content-album img{
    width: 140px;
    border-radius: 5px 5px 0 0;

  }
  .player-progress-bar {
    height: 8px;
  }


}
  